<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSMutableArray+XLSafe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A13C22F31E67F03C00343CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13C230C1E67F03E00343CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13C23171E67F03E00343CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
